/* -- CSS reset -- */
@import reset.css;

/* -- Border-box -- */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

}


/* -- Main styles -- */
h1, h2, h3, h4, h5, h6, footer {
    font-family: 'Raleway', sans-serif;
    color: #424242;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
}
.grid {
    max-width: 960px;
    margin: 0 auto;
}


/* -- Header -- */
header {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: -3;
}
header:before {
    content: "";
    position: absolute;
    margin-top: 400px;
    margin-left: -70%;
    width: 200%;
    height: 200%;
    background-color: rgba(50, 153, 187, 0.5);
    transform: rotate(45deg);
    z-index: -2;
}
header img {
    height: 80px;
    width: auto;
    margin-top: 8vh;
    max-width: 960px;
    z-index: 99;
}
header h1 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 25vh;
    color: white;
}



/* -- Divider -- */
.divider {
    width: 100vw;
    overflow-x: hidden;
    margin-left: -10vw;
    margin-top: -10px;
}
.upperdiv, .lowerdiv {
    background-color: #F6F7F9;
    width: 100%;
    height: 150px;
    margin-top: -50px;
    margin-left: -15px;
    z-index: -1;
    position: absolute;
}
.upperdiv {
    transform: rotate(7deg);
}
.lowerdiv {
    transform: rotate(353deg);
    right: -17%;
}


/* -- Introduction -- */
#introduction {
    background-color: #F6F7F9;
    padding-top: 40px;
    padding-bottom: 60px;
}
#introduction img {
    border-radius: 50%;
    width: 120px;
}
#introduction h1 {
    margin-bottom: 0;
    margin-top: 10px;
}
#introduction p {
    margin: 10px 0;
}
.portfolio-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}
.portfolio-btn a {
    background-color: #F8981D;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px 25px;
    transition: 0.2s ease-in-out;
    text-align: center;
}
.portfolio-btn a:hover {
    background-color: rgb(50, 153, 187);
}


/* -- Projects section -- */
#projects {
    background-color: #424242;
    padding: 35px 0;
}
#projects h2 {
    color: white;
    margin-top: 0;
}
.projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.projects a {
    text-decoration: none;
}
.projects div {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.projects div img {
    width: 60%;
    height: auto;
}
#esnw {
    background: linear-gradient(to right, #5b0750 0%, #0ca4fa 100%);
}
#interpres {
    background-image: url(../assets/interbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#uva {
    background-color: #751B68;
}
#marktplaats {
    background-image: url(../assets/marktplaatsbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#uva img {
  width: 70%;
}
.overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 153, 187, 0.8);
    transition: 0.7s ease-in-out;
    margin: 0;
}
.overlay:hover {
    background-color: rgba(50, 153, 187, 0);
}
.overlay img {
    z-index: -1;
}


/* -- Invitation/contact section -- */
#invitation {
    padding-bottom: 60px;
}
#invitation h2 {
    font-size: 35px;
    margin-bottom: 0;
}
#invitation h3 {
    font-size: 25px;
    margin: 10px 0;
}
#invitation p {
    margin: 0;
}
.socialmedia {
    padding-left: 0;
}
.socialmedia li {
    list-style-type: none;
    display: inline-block;
}
.socialmedia li a {
    text-decoration: none;
    color: #F8981D;
    transition: 0.2s ease-in-out;
}
.socialmedia li a:hover {
    color: rgb(50, 153, 187);
}
.socialmedia li a i {
    font-size: 50px;
}


/* -- Footer -- */
footer {
    width: 100%;
    background-color: #424242;
    color: rgba(255,255,255,0.5);
    padding: 20px 0;
}


/* -- Portfolio -- */
nav.return {
    position: absolute;
    top: 5px;
    left: 5px;
    height: auto;
}
nav.return img {
    width: 125px;
    height: auto;
    opacity: 0.4;
    transition: 0.4s ease-in-out;
}
nav.return img:hover {
    opacity: 1;
}
.portfolio {
    display: flex;
}
.panel {
    flex: 1;
    overflow: hidden;
    height: 100vh;
    transition: all 0.4s ease-in-out;
    background-color: #F6F7F9;
}
.portfolio .hide {
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}
.hide img {
    width: 75%;
}
.portfolio > section:nth-child(1) .hide {
    background-image: -webkit-linear-gradient(left, rgb(91, 7, 80) 0%, rgb(12, 164, 250) 100%);
    background-image: -o-linear-gradient(left, rgb(91, 7, 80) 0%, rgb(12, 164, 250) 100%);
    background-image: linear-gradient(to right, rgb(91, 7, 80) 0%, rgb(12, 164, 250) 100%);
}
.portfolio > section:nth-child(2) .hide {
    background-image: url("../assets/interbg.png");
}
.portfolio > section:nth-child(3) .hide {
    background-color: #751B68;
}
.portfolio > section:nth-child(4) .hide {
    background-image: url("../assets/marktplaatsbg.png");
}
.fullscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectheader {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectheader img {
    width: 200px;
    height: auto;
    transition-delay: 10s;
    transition: all 0.2 ease-in-out;
}
.portfolio > section:nth-child(2) .projectheader img {
    width: 100px;
    height: 100px;
}
.activate {
    transform: translateY(-100vh);
    height: auto;
    flex: 4;
}


/* -- University of Amsterdam section -- */
header a img {
    text-decoration: none;
    margin-bottom: 5vh;
}
#interactiondesign .grid > h1 {
    margin-bottom: 0;
}
#interactiondesign .grid > p {
    margin-top: 10px;
}
#timeline {
    width: 100%;
    background-color: #424242;
    padding-top: 20px;
    color: white;
    margin-bottom: -30px;
    padding-bottom: 50px;
}
.timeline {
    padding-left: 10px;
    position: relative;
}
.timeline:before {
    content: " ";
    position: absolute;
    border-left: 4px solid white;
    margin-top: 10px;
    height: 200%;
}
.week {
    margin: 50px 0;
}
.timeline h3 {
    padding-left: 30px;
    font-size: 1.5em;
    color: white;
}
.timeline h4 {
    margin-top: 50px;
}
.timeline h4, .timeline p, .timeline h6 {
    padding-left: 35px;
    margin-bottom: 5px;
    color: white;
}
.timeline h6 {
    font-style: italic;
    margin: 0;
    font-weight: 100;
    color: rgba(255,255,255,0.5);
}
.timeline p {
    font-size: 1em;
    word-wrap: break-word;
}
.timeline-btn {
    margin-left: 35px;
    margin-top: 20px;
}
.timeline-btn a:hover {
    background-color: #F8981D;
    transition: 0.2s ease-in-out;
}
.timeline-btn a {
    background-color: #751B68;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: white;
}
.timeline li {
    list-style-type: none;
}
.timeline li:before {
    background-color: #424242;
    border: 3px solid white;
    content: " ";
    position: absolute;
    border-radius: 50%;
}
.week:before {
    width: 25px;
    height: 25px;
    margin-left: -0.65em;
    margin-top: 0.1em;
}
.assignment:before {
    width: 20px;
    height: 20px;
    margin-left: -0.5em;
}
.timeline h3 a {
    text-decoration: none;
    color: #F8981D;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
.timeline h3 a:hover {
    color: #751B68;
}


/* ----------------M--E--D--I--A-----Q--U--E--R--I--E---S--------------- */
/* Weird max-widths due to the behavior of the transparent filter :) */
/*@media (max-width: 1920px) {
  header {
    background-image: url("../assets/bg1920.jpg");
  }
}*/
@media (max-width: 960px) {
    header:before {
        height: 90%;
        margin-top: 150px;
    }
    .grid {
        margin-left: 15px;
        margin-right: 15px;
    }
    .projects {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 550px) {
    header:before {
        height: 110%;
        margin-top: 100px;
    }
    .portfolio-btn {
        justify-content: flex-start;
    }
}
@media (max-width: 400px) {
    header:before {
        height: 100%;
        margin-top: 50px;
    }
}
