h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}
p {
    font-family: "Merriweather", serif;
}
a {
    text-decoration: none;
    color: black;
}
/*  Menu  */

#header {
    position: fixed;
    z-index: 90;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    font-size: 12px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
}

#menu {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#menu li {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.location {
    display: block;
    margin-top: -15px;
}
.bullet {
    font-size: 50px;
    cursor: pointer;
    display: block;
}
.active {
    font-weight: 900;
}
#menu li a:hover {
    font-weight: 900;
}
.active .bullet {
    font-size: 60px;
}
#menu li a:visited {
    color: black;
}

.hidden {
    display: none;
}

/*  Slides  */
/*  Slide 1  */
#introduction {
    background-color: aqua;
    
}
.welcoming {
    max-width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 70;
}
.welcoming p {
    font-weight: 100; 
    margin: 5px;
}
.welcoming a {
    font-weight: 600;
}
.welcoming a:visited {
    color: black;
}
.cta-guide {
    position: fixed;
    -webkit-perspective: 1000;
    z-index: 70;
    margin-top: 80vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    -webkit-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
    cursor: pointer;
}
#cta-guidepointer {
    margin: 10px;
    display: block;
}
.cta-continue {
    cursor: pointer;
    -webkit-animation: deepBounce 2.5s infinite;
    animation: deepBounce 2.5s infinite;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
@keyframes bounce {
    0% {margin-top: calc( 80vh + 20px );}
    50% {margin-top: calc(  80vh + 10px );}
    100% {margin-top: calc(  80vh + 20px );}
}
@keyframes deepBounce {
    0% {margin-top: calc( 90vh );}
    50% {margin-top: calc(  90vh + 10px );}
    100% {margin-top: calc(  90vh );}
}
@-webkit-keyframes bounce {
    0% {margin-top: calc( 80vh + 20px );}
    50% {margin-top: calc(  80vh + 10px );}
    100% {margin-top: calc(  80vh + 20px );}
}
@-webkit-keyframes deepBounce {
    0% {margin-top: calc( 90vh );}
    50% {margin-top: calc(  90vh + 10px );}
    100% {margin-top: calc(  90vh );}
}
.slide:nth-child(1) {
    background-image: url("grotekerk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.slide:nth-child(4) {
    background-image: url("molen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*  Woonkamer  */
#livingroom {
    background-image: url("woonkamer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*  Badkamer  */
#bathroam {
    background-color: blueviolet;
    
}

/*  Slaapkamer  */
#bedroom {
    background-image: url("slaapkamer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*  Bovenverdieping  */
#upstairs {
    background-color: cornflowerblue;
    
}

/*  Informatie  */
#info {
    background-color: dodgerblue;
}
#info footer {
    text-align: center;
    background-color: #424242;
    padding: 10px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.infocontainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.components {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
}
#map {
    width: 400px;
    height: 450px;
    margin-right: 10px;
}
form {
    width: 400px;
    height: 450px;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
form input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid black;
    font-family: "Raleway", sans-serif;
    text-align: center;
    
}
textarea {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    resize: none;
    border: 1px solid black;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    flex-grow: 1;
}
input:focus, textarea:focus {
    border-color: #424242;
}
button {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    font-family: "Raleway", sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: 900;
    cursor: pointer;
}
footer a {
    color: dodgerblue;
}
