@keyframes flickering {
  0% {
    background-color: transparent;
  }
  49% {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}